<% if @author.errors.any? %>
  <ul>
    <% @author.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @author do |f| %>
  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name, placeholder: 'Enter name for author...' %>
  </div>
  <hr/>
  <div calss="form-group">
    <%= f.label :surname%>
    <%= f.text_field :surname, placeholder: 'Enter surname for author...' %>
  </div>
  <hr/>
  <div calss="form-group">
    <%= f.label :age%>
    <%= f.number_field :age, placeholder: 'Enter age for author...'  %>
  </div>
  <hr />
  <%= f.submit 'Save', role: 'button', class: 'btn btn-primary' %>
<% end %>
